.searchArea {
    border-radius: 50px;
    --bs-border-width: 3px;

}




ul {
    list-style: none;





}

li,
.one,
.two,
.three,
.four,
.five,
.six {
    padding: 10px;
    cursor: pointer;






}

.form-control {
    background-color: transparent;
}

.form-control:focus {
    background-color: transparent;
    border-color: #e9ecef;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;


}


.myIcon {
    cursor: pointer;
}

.SideBarPart {
    z-index: 99999999;
}

.sideBarMenuTogglePart {
    top: 0;
    left: 100%;
    bottom: 0;


    cursor: pointer;
}



.backToTop {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9999999999999999999999999999999;

    /*MAKING THE BUTTON CLICKABLE*/

    cursor: pointer;
    display: none;

}


input {


    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;

    color: white;

    background-color: #0D0D0D;
    ;


    padding-top: 20px;


}

input:focus {
    outline: none !important;
    /* border:1px solid red; */
    /* box-shadow: 0 0 10px #719ECE; */

    background-color: #0D0D0D;
    ;
    color: white;
}

h2 {
    margin-top: 130px;
}

.HomePage {
    background-color: #0D0D0D;
}

.btn {
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: white;
    color: black;

}


/*========================*/







@keyframes skewAnimation {
    0% {
      transform: skewY(0deg);
      transform: skewX(0deg);
    }

    50% {
      transform: skewY(10deg);
      transform: skewX(10deg);
    }
    100% {
      transform: skewY(0deg);
      transform: skewX(0deg);
    }
  }
  
  .imageLayer:hover p {
    animation: skewAnimation 0.5s 2;
    transition: none; /* Remove the transition property */
  }
  

